.Button {
    background-color: rgb(0, 81, 255);
    color:white;
    height: 4vh;
    width: 8vw;
    transition: all 0.2s ease;
    
};

.Button:hover {
    background-color: rgb(245, 245, 154);
    color: black;
    cursor: pointer;
};

.Button:active{
    transform: translateY(2px);
};
