.button {
    background-color: #4CAF50; /* Color de fondo */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #3e8e41; /* Color de fondo al pasar el mouse */
  }