.Button {
  background-color: rgb(0, 81, 255);
  color: white;
  display: flex; /* Usamos flexbox para centrar el texto */
  justify-content: center; /* Centra el texto horizontalmente */
  align-items: center; /* Centra el texto verticalmente */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%; /* Asegura que el botón ocupe todo el ancho */
  box-sizing: border-box;
}

.Button:hover {
  background-color: rgb(245, 245, 154);
  color: black;
}

.Button:active {
  transform: translateY(2px);
}




/* .Button {
    background-color: rgb(0, 81, 255);
    color:white;
    height: 4vh;
    width: 8vw;
    transition: all 0.2s ease;
};

.Button:hover {
    background-color: rgb(245, 245, 154);
    color: black;
    cursor: pointer;
};

.Button:active{
    transform: translateY(2px);
}; */
