/* ------------------------------------------BUTTON STYLES-------------------------------------------------------------- */
button {
  background-color: rgb(0, 81, 255);
  color:white;
  height: 40px;
  width: 100px;
  min-width: 8vw;
  transition: all 0.2s ease;
  margin-bottom: 10px;
 
  

};

button:hover {
  background-color: rgb(245, 245, 154);
  color: black;
  cursor: pointer;
};

button:active{
  transform: translateY(2px);
};

/* ------------------------------------------CARD STYLES---------------------------------------------------------------- */
.cat-card {
display: grid;
margin: 10px;
text-align: center;
border-radius: 8px;
overflow: hidden;
width: 18%;
margin: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease;
background-color: white ;


}

.cat-card:hover {
transform: translateY(-5px);
}

.cat-image {
width: 200px;
height: 200px;
object-fit: cover;
border-bottom: 1px solid #eee;
}

/* ------------------------------------------SLYDER STYLES-------------------------------------------------------------- */
/* Estilos generales para el slider */
.slider-container {
  position: relative;
  background-color: rgb(195, 238, 229);
  width: 100%;
  max-width: 1100px; /* Ajusta el ancho máximo del contenedor */
  margin: 0 auto;
  overflow: visible; /* Oculta las tarjetas fuera del área visible */
  display:  flex;
  gap: 15px;
  justify-content: center;
  margin-top: 300px;
  align-items: center;
  
}

/* Contenedor de las tarjetas */
.slider-content {
  display: flex; /* Flexbox para poner las tarjetas en fila horizontal */
  transition: transform 0.5s ease;
  width: 100%;
  margin-right: 25px;
  margin-left: 25px;
}

/* Los botones ya tienen estilo, solo asegúrate de que estén posicionados correctamente */
.arrow {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}

#prevButton {
  left: 0;
  transform: translate(-120%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 189, 87);
}

#nextButton {
  right: 0;
  transform: translate(120%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 189, 87);
}

@media (max-width: 768px) {
  .slider-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .arrow {
    position: static; /* Quitar posición absoluta */
    transform: none;
    margin-top: 10px;
  }

  .slider-content {
    width: 100%;
  }
}
@media (max-width: 465px) {
  .slider-container {
    display: grid;
  grid-template-columns: repeat(1, 1fr);
  }

}