/* ------------------------------------------BUTTON STYLES-------------------------------------------------------------- */
button {
    background-color: rgb(0, 81, 255);
    color:white;
    height: 4vh;
    width: 8vw;
    transition: all 0.2s ease;
    
  
};

button:hover {
    background-color: rgb(245, 245, 154);
    color: black;
    cursor: pointer;
};

button:active{
    transform: translateY(2px);
};

/* ------------------------------------------CARD STYLES---------------------------------------------------------------- */
.cat-card {
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  
  
}

.cat-card:hover {
  transform: translateY(-5px);
}

.cat-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

/* ------------------------------------------SLYDER STYLES-------------------------------------------------------------- */
/* Contenedor principal del slider */
/* Slider container */
.slider-container {
  
  position: relative;
  width: 100%;
  max-width: 1000px; /* Ajusta el ancho máximo del contenedor */
  margin: 0 auto;
  overflow: hidden; /* Oculta las tarjetas fuera del área visible */
  display: flex;
  justify-content: center;
  
  
  align-items: center;
}

/* Contenedor de las tarjetas */
.slider-content {
  display: flex; /* Flexbox para poner las tarjetas en fila horizontal */
  transition: transform 0.5s ease; /* Animación suave para mover las tarjetas */
}

/* Los botones ya tienen estilo, solo asegúrate de que estén posicionados correctamente */
.arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}

.prevButton {
  left: 10px; /* Posiciona el botón anterior a la izquierda */

}

.nextButton {
  right: 10px;
  
}
