/* HomePage.css */

.home-page {
  text-align: center;
  padding: 20px; /* Añade un poco de espacio alrededor del contenido */
}

.home-page h1 {
  font-size: 2em; /* Ajusta el tamaño del título para pantallas más pequeñas */
  margin-bottom: 20px;
}