:root {
  --titles-font: "Neulis Neue";
  --primary-font: "Neulis Sans";
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mainAdopt {
  flex-grow: 1;
  height: calc(100vh - 14.5vh);
  background-image: url("/images/adoptBackground.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
  font-size: 2.2vh;
}
.mainContent {
  padding-bottom: 30vh;
  padding-right: 65vw;
  color: black;
}
.buttonAP {
 width: 8vw;
 font-family: var(--primary-font);
 font-size: 1.6vh;
}