html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#mainAdopt {
  flex-grow: 1;
 height: calc(100vh - 14.5vh);
  /* width: 100vh; */
  background-image: url("/adoptBackground.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonAdoptPage {
 width: 4vw;
}


#mainContent {
  padding-bottom: 30vh;
  padding-right: 65vw;
  color: black;
}
