.containerPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  h1 {
    text-align: center;
  }
  
  .containerSlider {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }