* {
  box-sizing: border-box;
}

.sliderContainer {
  position: relative; /* Para que las flechas se posicionen respecto a este contenedor */
  width: 99vw;
  height: 65vh;
  max-width: none;
  margin: 0 auto;
  overflow: hidden; /* Asegura que no haya scroll innecesario */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.sliderContent {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se muevan a la siguiente línea si es necesario */
  justify-content: center;
  gap: 10px; /* Espacio entre las tarjetas */
  transition: opacity 800ms ease-in-out; /* Transición de opacidad */
  opacity: 1;
  width: 100%;
  }
.sliderContent.hidden {
  opacity: 0; /* Se vuelve completamente visible */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10%;
  z-index: 10;
}

#prevButton {
  left: 30px;
}

#nextButton {
  right: 30px;
}

  
  /* @media (max-width: 768px) {
    .slider-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  
    .arrow {
      position: static; 
      transform: none;
      margin-top: 10px;
    }
  
    .slider-content {
      width: 100%;
    }
  }
  @media (max-width: 465px) {
    .slider-container {
      display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
  
  } */