:root {
  --titles-font: "Neulis Neue";
  --primary-font: "Neulis Sans";
}

.header {
  background-color: #fceabb;
  padding: 2vh 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.3vh 0.5vh rgba(0, 0, 0, 0.1);
  height: 8vh;
  width: 100%;
}

.imgLogo {
  height: 6vh;
  width: auto;
}

.logo a {
  font-size: 1.8rem;
  font-family: var(--primary-font);
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.menuButton {
  background: none;
  border: none;
  font-size: 3vh;
  cursor: pointer;
  color: #333;
}

.navMenu {
  position: fixed; 
  top: 8.2vh;
  right: -20%; 
  background: white;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
  border-radius: 2vh;
  padding: 2vh;
  width: 15vw;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  z-index: 1000;
}

.navOpen {
  right: 0.5vw;
}

.navItem {
  color: #555;
  text-decoration: none;
  padding: 2vh;
  font-size: 2vh;
  font-family: var(--primary-font);
  display: block;
  border-bottom: 0.2vh solid #ddd;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.navItem:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.dark {
  background-color: rgb(51, 45, 45);
  color: white;
}

.dark .navItem {
  color: white;
  background-color: rgb(51, 45, 45);
}

.dark .navItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dark .menuButton {
  color: #fff;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .navMenu {
    display: none; 
    width: 100vw;
  }

  .navOpen {
    display: flex;
  }
}
