:root {
  --titles-font: "Neulis Neue";
  --primary-font: "Neulis Sans";
}
.footer {
    background-color: #b2dfdb; /* Un verde azulado relajante */
    
    text-align: center;
    color: #444;
    font-size: 1.2vh;
    border-top: 1px solid #ccc;
    height: 6.5vh;
    /* margin-top: 50px; */
  }
  p {
    size: 1vh;
  }