:root {
  --titles-font: "Neulis Neue";
  --primary-font: "Neulis Sans";
}
.footer {
    background-color: #b2dfdb; /* Un verde azulado relajante */
    padding: 1rem;
    text-align: center;
    color: #444;
    font-size: 0.9rem;
    border-top: 1px solid #ccc;
    /* margin-top: 50px; */
  }