:root {
  --titles-font: "Neulis Neue";
  --primary-font: "Neulis Sans";
}
.footer {
  
    display: grid;
    background-color: #b2dfdb; /* Un verde azulado relajante */
    align-items: center;
    text-align: center;
    color: #444;
    font-size: 1.2vh;
    font-family: var(--primary-font);
    border-top: 1px solid #ccc;
    height: 6.5vh;
    /* margin-top: 50px; */
  }
  .listSty {
    list-style: none;
  }
  .ul {
    margin-top: 2vh;
  }

  @media (min-width: 501px) and (max-width: 768px) {
    
  }