.catCard {
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  width: 200px;
  height: 280px;
  flex-shrink: 0;
  background-color: white ;
}

.catCard:hover {
  transform: translateY(-5px);
}

.catImage {
  width: 90%;
  margin-top: 10px;
  border-radius: 10%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}