.catCard {
  /* Estilos para el contenedor de la card */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 300px; /* Ajusta el ancho según tus necesidades */
  box-sizing: border-box;
}

.catImage {
  /* Estilos para la imagen del gato */
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.infoContainer {
  /* Estilos para el contenedor de la información del gato */
  width: 100%;
  margin-bottom: 10px;
}

.breedInfo {
  /* Estilos para la información de la raza del gato */
  width: 100%;
}

.catCard button {
  /* Estilos para el botón "Añadir a Favoritos" */
  padding: 10px 15px;
  font-size: 16px;
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
  margin-top: 10px;
}

.buttonContainer {
  /* Estilos para el contenedor del botón y el mensaje */
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
  margin-top: 10px;
}

@media (max-width: 600px) {
  /* Media query para pantallas más pequeñas */
  .catCard button {
    font-size: 14px;
    padding: 8px 12px;
  }
}